// Place all the styles related to the Bar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rewards {
  font-size: 30px;
}

.bar {
  width: 100%;
  font-size: 30px;
  height: 70px !important;
}
